[submodule "tp-analyse-statique-adeleb54"]
	path = tp-analyse-statique-adeleb54
	url = https://github.com/Mpil2022/tp-analyse-statique-adeleb54.git
[submodule "spring-petclinic"]
	path = spring-petclinic
	url = https://github.com/spring-projects/spring-petclinic.git
